<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
      SMS_RECEIVED is a protected broadcast. Debug builds let this app deliver a
      test PDU to its own receiver. Release keeps android.permission.BROADCAST_SMS.
    -->
    <permission
        android:name="com.baraa.masroof.permission.DEBUG_DELIVER_SMS"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.baraa.masroof.permission.DEBUG_DELIVER_SMS" />

    <application>
        <receiver
            android:name=".sms.receiver.IncomingSmsReceiver"
            android:permission="com.baraa.masroof.permission.DEBUG_DELIVER_SMS"
            tools:replace="android:permission" />
    </application>
</manifest>
